
/*header effect*/
.slider .title .mainhead::after,.slider .title .mainhead::before
{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0 2px;
    transform: scale3d(0,1,1);
    transition: transform 1s ease-in-out;
}

.slider .title .mainhead::after
{
    top: -2p;
    left: -2px;
    border-top: 2px solid gray;
    transform-origin: left;
    }
.slider .title .mainhead::before
{
    top: 0;
    left: -2px;
    border-bottom: 2px solid gray;
    transform-origin: right;
}
.slider .title .mainhead:hover::before,.slider .title .mainhead:hover::after
{
    transform: scale3d(1,1,1);  
}
.learn-more::after,.learn-more::before
{
    position: absolute;
    content: "";
    right: 0;
    transition: transform 1s ease-in-out;
}
.learn-more::before
{
    border-width: 2px 0;
    border-style: solid;
    border-color:gray transparent  gray transparent;
    height:100%;
    width: 101%;
    top: -2px;
    left: -1px;
    bottom: 0px;
    transform: scale3d(0,1,1);
    transform-origin: left;
    padding: 0 1px;
}
.learn-more::after
{
    left: -1px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-width: 0 2px;
    border-style: solid;
    border-color: transparent gray transparent gray;
    transform: scale3d(1,0,1);
    transform-origin: bottom;
    padding: 1px 0;
}
.learn-more:hover::after
{
    transform: scale3d(1,1,1);  
}
.learn-more:hover::before
{
    transform: scale3d(1,1,1);  
}
/* goal effect */
.goal-effect
{
    position: relative;
   
}
.goal-effect:after
{
   
     content: "";
     position: absolute;
     top: 0;
     right:0;
     left: -5px;
     bottom: 0;
     width: 105%;
     height: 100%;
     transform: scale3d(0,1,1);
     background:rgba(0,0,0,.3);
     transform-origin: left;
     transition: transform .5s; 
     padding: 5px;
     border-radius: 5px;
}
.goal-effect:hover:after
{
    transform: scale3d(1,1,1);
}
.goal-effect:hover h3
{
    color: #2ECC71;
    
}
.goal-effect:hover .goal-desc
{
color: rgb(54, 53, 53);
}
/* about me effects */

.aboutme-image::after
{
    
    content: "";
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale3d(0,1,1);
    background:rgba(0,0,0,.5);
    transform-origin: right;
    transition: transform 1s ease-in-out;
    border-radius: 5px;
}
.aboutme-image:hover::after
{
  
    transform: scale3d(1,1,1);
}
.aboutme-desc-title
{
    transition:text-decoration .5s ease-in-out ;
}
.aboutme-desc-title:hover
{
    color:#2ECC71 ;
}
.aboutme-desc-item .icon
{
    position: relative;
}
.aboutme-desc-item .icon::after
{
    content: "";
    position: absolute;
    top: -15px;
    right:0;
    left: -12px;
    bottom: 0;
    padding: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #061539  #061539 transparent #061539;
    border-radius: 50%;
    
}
.aboutme-desc-item .icon:hover::after
{
    animation: animate 2s linear infinite;
}
.aboutme-desc-item .icon:hover ~ span
{
    animation: animatecircle 2s linear infinite;
   /* transform: scale(0); */
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }


    100%
    {
        transform: rotate(360deg);
    }
}
@keyframes animatecircle
{
    0%
    {
        transform: rotate(45deg);
    }


    100%
    {
        transform: rotate(400deg);
    }
}
.max-progress:hover .min-progress
{
    transform: scale(0);
}
.tooltip
{

    padding: 8px 0;
    margin: auto;
    background: transparent;
    border: 2px solid #061539;
    position: relative;
    opacity:0 ;    
    visibility: hidden;
    transition: opacity 1s ease-in-out,bottom 1s ease-in-out,visibility 1s ease-in-out;
    left: 0px;
    font-weight: bold;
    font-size: 25px;
    
}
.portofolio-image .tooltip
{
    bottom: -45px;
    width: 150px;  
    color: #C61671;
}
.aboutme-image .tooltip
{
    bottom: 0px;
    width: 300px;
    color: #2ECC71;
}
.portofolio-image .image
{
   position: relative;
}
 .tooltip::after
{
    content: "";
    position: absolute;
    right:0;
    left: 60px;
    top: 48px;
    width: 0;
    border-width: 15px;
    border-style: solid;
    border-color:#061539 transparent transparent transparent;
}
.portofolio-image .tooltip::after
{

    left: 60px;
    top: 48px; 
}
.aboutme-image .tooltip::after
{
 
    left: 120px;
    top: 48px; 
}

.portofolio-image .image:hover >.tooltip
{
    
    opacity:1 ;    
    visibility: visible;
    bottom: 150px;
}
.aboutme-image:hover >.tooltip
{
    
    opacity:1 ;    
    visibility: visible;
    bottom:400px;
}
.overlay-bt
{
    position: relative;
    box-shadow: 0 10px 15px rgba(59, 48, 48, 0.3);
    transition: .5s;
}
.overlay-bt:after
{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    transform-origin: center;
    transition: .5s ease-in-out;
}
.overlay-bt:hover:after
{
    transform: scale3d(0,1,1);
}
.overlay-bt:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,.3);  
}
h2,h3
{
    transition:color .5s ease-in-out;
}
h2:hover,h3:hover{
    color: #2ECC71;
}